<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>Epic Task</h1>

    <a href="/task/new" class="btn">Nova Tarefa</a>

    <div class="content">
        <div class="tasks">
            <div class="card-task" th:each="task : ${tasks}">
                <h2 th:text="${task.title}"></h2>
                <p th:text="${task.description}"></p>
                <div class="actions">
                    <form th:action="@{'/task/{id}'(id=${task.id})}" th:method="delete">
                        <button class="btn-red">Apagar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>